  body{
  background: #1d2b64; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1d2b64, #f8cdda); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1d2b64, #f8cdda); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


i.icon{
    font-size:2em;
}

.container.main{
    margin-top:7.0em;
}

#del{
    display:inline;
}